<section class="hero-section">
    <h1>درخواست پشتیبانی انلاین</h1>
    <p>بریا شروع پشتیبانی  دکمه  پایین سمت راست را بزنید و شروع به گفتگو کنید.</p>
 
    <div class="trusted-section" >    
                    <a href="/panel">برای ادمین پنل کلیلک کنید </a>
                    <div>
                        defult user : admin , 
                        password : 111111
                    </div>
    </div>
                    <div>لطفا   ادمین پنل و  صفحه پشتیبانی در دو مرورگر جدا و یا دو سشن جدا ازهم باز شود</div>
                    
</section>
<section class="features">
    <div class="feature">
        <img src="https://via.placeholder.com/50" alt="Easy to Use">
        <h3>Easy to Use</h3>
        <p>Editing and customizing Essential Landing is easy and fast.</p>
    </div>
    <div class="feature">
        <img src="https://via.placeholder.com/50" alt="100% Responsive">
        <h3>100% Responsive</h3>
        <p>Editing and customizing Essential Landing is easy and fast.</p>
    </div>
    <div class="feature">
        <img src="https://via.placeholder.com/50" alt="New Pages">
        <h3>50+ New Pages</h3>
        <p>Editing and customizing Essential Landing is easy and fast.</p>
    </div>
</section>
<button class="chat-button" (click)="openChat()">
    Chat
</button>
<div class="chat-card" *ngIf="isChatOpen">
    <div class="chat-header">
        <button class="close-button" (click)="closeChat()">X</button>
        <h2>پشتیبانی آنلاین</h2>
        
       
    </div>
    <div class="chat-content">
        <div   *ngIf="!email_verify"  class="red_color">خوش آمدید! لطفا برای شروع ایمیل خود را ارسال کنید</div>
        
        <ul class="messages_ul">
            <li *ngFor="let message of messagess" class="li  ">
                <div *ngIf="message.user =='user'" class="user-p">
                    {{ message.message }}  <p>{{ message.timestamp }}</p>
                </div>

                <div *ngIf="message.user =='admin'" class="admin-p">
                    {{ message.message }} <p>{{ message.timestamp }}</p>
                </div>

            </li>
        </ul>
        <form [formGroup]="form" (ngSubmit)="send_message()">
            <input type="text" placeholder="پیام خود را وارد کنید" class="input_chat" formControlName="message">
            <button>ارسال</button>
        </form>

    </div>
</div>