<div class="sidebar">
    <h2>منوی داشبورد</h2>
    <ul>
        <li><a href="#">داشبورد</a></li>
        <li><a href="#">کاربران</a></li>
        <li><a href="#">گزارشات</a></li>
        <li><a href="#">تنظیمات</a></li>
    </ul>
</div>

<div class="main-content">
    <header>
        <h1>داشبورد مدیریتی</h1>
        <div class="user-info">
            <span>خوش آمدید، مدیر</span>
        </div>
    </header>

    <router-outlet></router-outlet>


    <section class="cards">
        <div class="card">
            <h3>تعداد کاربران</h3>
            <p>1500</p>
        </div>
        <div class="card">
            <h3>گزارشات</h3>
            <p>35</p>
        </div>
        <div class="card">
            <h3>درآمد</h3>
            <p>$5000</p>
        </div>
    </section>
</div>